<html>
<head>
 <title>JINRbill</title>
 <link rel="stylesheet" href="/media/reset.css" type="text/css" />
 <link rel="stylesheet" href="/media/main.css" type="text/css" />
 {% block script %}{% endblock %}
</head>
<body>

  <div class="main">
  <div style="height: 150px">
   <div style="float:left; width:400px;">
     <h1>  <img src="/media/logo.png" />  UTSBase 0.1 </h1>
   </div>
   <div style="float:right; width:400px;">
      <br><br><br><br><br>:: &nbsp;&nbsp;&nbsp;<a href="/srch">Поиск</a>&nbsp;&nbsp;&nbsp; 
   <!--         :: &nbsp;&nbsp;&nbsp; Заявки &nbsp;&nbsp;&nbsp; 
            :: &nbsp;&nbsp;<a href="/bill">Биллинг</a>&nbsp;&nbsp;&nbsp; :: -->
            :: &nbsp;&nbsp;&nbsp;<a href="/iupd">Обновление</a>&nbsp;&nbsp;&nbsp;
            :: &nbsp;&nbsp;&nbsp;<a href="/hstr">История</a>&nbsp;&nbsp;&nbsp;
   </div>
  </div>
   
   <br>

{% block content %}{% endblock %}

</body>

