{% extends "base.html" %}

{% block content %}
<form action="bill" method="post">

    <div>
    <textarea class="iupd" name="info" cols="30" rows="3" 
    onfocus="if(this.value == '{{default}}') this.value='';" 
    onblur="if(this.value == '') this.value='{{default}}';" >{{default}}</textarea>
    </div>

    <br>
    <div align="center">
    <input class="create" type="submit" value="Посчитать">
    </div>
    <br>
</form>
    
    <br><br>
    Запрос обработан за {{tim }} с.

{% endblock %}
