
{% extends "base.html" %}
{% block content %}

<div style="float:left; width:900px; overflow:hidden;">   
<table class="tab">

    <form class="form" action="{{num}}" method="post">
    <tr>
        <td class="label">Номер</td>
        <td><input disabled class="smll" type="text" value='{{q.num}}' name="num"></td>
    </tr>
    <tr>
        <td class="label">ФИО</td>
        <td><input class="stnd" type="text" value="{{q.name}}" name="name"></td> 
        {% if h.name %} 
        <td class="chngd"><p class="chngd">Изм. {{h.name|date:"d.m.y h:i"}}</p></td>
        {% endif %}

    </tr>
    <tr>
        <td class="label">Адрес</td>
        <td><input class="stnd"  type="text" value="{{q.addr}}" name="addr"></td> 
        {% if h.addr %} 
        <td class="chngd"><p class="chngd">Изм. {{h.addr|date:"d.m.y h:i"}}</p></td>
        {% endif %}

    </tr>
    <tr>
        <td class="label">Магистраль</td>
        <td><input class="stnd" type="text" value="{{q.mgst}}" name="mgst"></td> 
        {% if h.mgst %} 
        <td class="chngd"><p class="chngd">Изм. {{h.mgst|date:"d.m.y h:i"}}</p></td>
        {% endif %}

   <!--     <td><input class="stnd"  type="text" value="{{q.mgst}}" name="addr"></td> -->
    </tr>
    <tr>
       <td class="label">Распределение</td>
       <td><input class="stnd" type="text" value="{{q.rspr}}" name="rspr"></td> 
        {% if h.rspr %} 
        <td class="chngd"><p class="chngd">Изм. {{h.rspr|date:"d.m.y h:i"}}</p></td>
        {% endif %}

    </tr>
    <tr>
        <td class="label">Шкаф</td>
        <td><input class="stnd" type="text" value="{{q.shkf}}" name="shkf"></td> 
        {% if h.shkf %} 
        <td class="chngd"><p class="chngd">Изм. {{h.shkf|date:"d.m.y h:i"}}</p></td>
        {% endif %}

    </tr>
    <tr>
        <td class="label">Дата</td>
        <td><input class="stnd" type="text" value="{{q.data}}" name="data"></td> 
        {% if h.data %} 
        <td class="chngd"><p class="chngd">Изм. {{h.data|date:"d.m.y h:i"}}</p></td>
        {% endif %}
    </tr>
    <tr>
        <td class="label">Переходные</td>
        <td><input class="stnd" type="text" value="{{q.prhd}}" name="prhd"></td>
        {% if h.prhd %} 
        <td class="chngd"><p class="chngd">Изм. {{h.prhd|date:"d.m.y h:i"}}</p></td>
        {% endif %}
    </tr>
    <tr>
        <td class="label">Заметки</td>
        <td><input class="stnd" type="text" value="{{q.note}}" name="note"></td> 
        {% if h.note %} 
        <td class="chngd"><p class="chngd">Изм. {{h.note|date:"d.m.y h:i"}}</p></td>
        {% endif %}

    </tr>
    <tr>
        <td class="label">Дополнительно</td>
        <td><input class="stnd" type="text" value="{{q.rsrv}}" name="rsrv"></td> 
        {% if h.rsrv %} 
        <td class="chngd"><p class="chngd">Изм. {{h.rsrv|date:"d.m.y h:i"}}</p></td>
        {% endif %}

    </tr>
    <tr>
        <td class="label">Позиция</td>
        <td>
        <input disabled class="smll" type="text" value="{{q.indx}}" > 
        &nbsp;Ряд/блок &nbsp;&nbsp;<input disabled class="smll" type="text" value="{{q.plac}}" > 
        &nbsp;Плинт &nbsp;&nbsp;<input disabled class="smll" type="text" value="{{q.plnt}}" > 
        &nbsp;Пара &nbsp;&nbsp;<input disabled class="smll" type="text" value="{{q.para}}" ><td>
        <td>(<a href='/iupd'>обновить</a>) </td>
        {% if h.intf %} 
        <td class="chngd"><p class="chngd">Изм. {{h.intf|date:"d.m.y h:i"}}</p></td>
        {% endif %}

    </tr>
    <tr>
        {% if q.dgzd %}
        <td class="label" >Проверен</td>
        <td>
        <input type="hidden" name="dgzd" value="0" />
        <input type="checkbox" name="dgzd" checked value="1"></td>
        {% else %}
        <td class="redlabel" >Проверен</td>
        <td>
        <input type="hidden" name="dgzd" value="0" />
        <input type="checkbox" name="dgzd" value="1"></td>
        {% endif %} 
        {% if h.dgzd %} 
        <td class="chngd"><p class="chngd">Изм. {{h.dgzd|date:"d.m.y h:i"}}</p></td>
        {% endif %}

    </tr>
    <tr>
        <td class="label">Снят / Удалён</td>
        {% if q.free %}
        <td>
        <input type="hidden" name="free" value="0" />
        <input type="checkbox" checked name="free" value="1">
        </td>
        {% else %}
        <td>
        <input type="hidden" name="free" value="0" />
        <input type="checkbox" name="free" value="1">
        </td>
        {% endif %} 
        {% if h.free %} 
        <td class="chngd"><p class="chngd">Изм. {{h.free|date:"d.m.y h:i"}}</p></td>
        {% endif %}

 
    <tr>
<!--        <td class="label">Плинт</td>
        <td><input class="smll" type="text" value="{{q.plnt}}" name="rspr"></td>
    </tr>
    <tr>
        <td class="label">Пара</td>
        <td><input class="smll" type="text" value="{{q.para}}" name="rspr"></td>
    
-->
      <tr>
      <td></td>
      <td style="padding: 20 20 30 350"><input type="submit" class="submit"  value="Записать"> </td>
      </tr>

    </tr>
    </form>

    </table>
    <a href="/edit/{{prev}}">&laquo;Предыдущий</a> &nbsp; || &nbsp;  <a href="/edit/{{num}}">Обновить страницу</a> &nbsp; || &nbsp; <a href="/edit/{{next}}">Следующий&raquo;</a> 
    <br>
    Запрос обработан за {{tim }} с.
  </div>

{% endblock %}

