{% extends "base.html" %}

{% block content %}

<div style=" width: 300px; position: relative; overflow: hidden;"> 
<div style=" float:left; margin: 0 10">

 <table >
  <tr>  <td>  Свободные: </td> </tr>
  {% for qq in q %}
  
    <tr>
      <td class="num"><a href="/base/add/{{qq.num}}">{{qq.num}}</a></td>
    </tr>

  {% endfor %}
  </table>

</div>

<div style="float:left">

  <table>
  <tr> <td> Повторные: </td> </tr>

    {% for q in q2 %}

      <tr>
        <td class="num"><a href="/edit/{{q.num}}">{{q.num}}</a></td>
      </tr>

    {% endfor %}
  </table>

</div>

<div style="float:right">

  <table>
  <tr> <td> Ошибочные: </td> </tr>

    {% for q in q1 %}

      <tr>
        <td class="num"><a href="/edit/{{q}}">{{q}}</a></td>
      </tr>

    {% endfor %}
  </table>

</div>


</div>



  
  <br>
    Количество номеров: {{q|length}} <br>
    Запрос обработан за {{tim }} с.
  </div>

</body>

{% endblock %}
