{% extends "base.html" %}

{% block content %}

   <table class="tab">
    <tr>    
          <td class="num">Номер</td>
          <td class="num">Дата</td>
          <td class="num">Тип</td>
          <td class="dat">Старое</td>
          <td class="dat">Новое</td>
    </tr>

{% for dat in db %}

    {% if dat.free == 1 %}
      <tr style="background-color: #65A5D1">
    {% elif dat.dgzd == '1' %}
      <tr style="background-color: #00C90D">
    {% elif dat.prhd == 'duplicate!' %}
      <tr style="background-color: red">
    {% else %}
      <tr>
    {% endif %}
      <td class="num"><a href="/edit/{{dat.num}}">{{dat.num}}</a></td>
      <td class="num"><p class="lst">{{dat.date|date:"j-b H:i:s"}}</p></td>
      <td class="num"><p class="lst">{{dat.type}}</p></td>
      <td class="dat"><p class="lst">{{dat.xold}}</p></td>
      <td class="dat"><p class="lst">{{dat.xnew}}</p></td>

    </tr>
    {% endfor %}
    </table> 
    <br>
    Количество номеров: {{db|length}} <br>
    Запрос обработан за {{tim }} с.
  </div>

</body>

{% endblock %}
