
<body>
<style>
table.tab {
	border-width: 1px;
	border-spacing: 0px;
	border-collapse: collapse;
    border-style: dashed;
    border-color: green;
}

tr.tab {
	border-width: 1px;
	border-spacing: 0px;
	border-collapse: collapse;
    border-style: dashed;
    border-color: green;
}


</style>
  <div class="main">
  <h1>  <img src="/media/logo.png" />  JINRbill 0.1 </h1>
    <form class="form" action="list" method="get">
        <input class="input" type="text" value="" name="search">
        <input type="submit" class="like" value="Жми"> 
    </form>
    Количество записей: {{col}}<br><br>
    <table class="tab"> 
        <tr class="tab">
      <td>radacctid</td>
      <td>acctsessionid</td>
      <td>acctuniqueid</td>
      <td>username</td>
      <td>groupname</td>
      <td>realm</td>
      <td>nasipaddress</td>
      <td>nasportid</td>
      <td>nasporttype</td>
      <td>acctstarttime</td>
      <td>acctstoptime</td>
      <td>acctsessiontime</td>
      <td>acctauthentic</td>
      <td>connectinfo_start</td>
      <td>connectinfo_stop</td>
      <td>acctinputoctets</td>
      <td>acctoutputoctets</td>
      <td>calledstationid</td>
      <td>callingstationid</td>
      <td>acctterminatecause</td>
      <td>servicetype</td>
      <td>framedprotocol</td>
      <td>framedipaddress</td>
      <td>acctstartdelay</td>
      <td>acctstopdelay</td>
      <td>xascendsessionsvrkey</td>
    </tr>
    {% for f in filts %}
    <tr>
      <td>{{f.radacctid}}</td>
      <td>{{f.acctsessionid}}</td>
      <td>{{f.acctuniqueid}}</td>
      <td>{{f.username}}</td>
      <td>{{f.groupname}}</td>
      <td>{{f.realm}}</td>
      <td>{{f.nasipaddress}}</td>
      <td>{{f.nasportid}}</td>
      <td>{{f.nasporttype}}</td>
      <td>{{f.acctstarttime}}</td>
      <td>{{f.acctstoptime}}</td>
      <td>{{f.acctsessiontime}}</td>
      <td>{{f.acctauthentic}}</td>
      <td>{{f.connectinfo_start}}</td>
      <td>{{f.connectinfo_stop}}</td>
      <td>{{f.acctinputoctets}}</td>
      <td>{{f.acctoutputoctets}}</td>
      <td>{{f.calledstationid}}</td>
      <td>{{f.callingstationid}}</td>
      <td>{{f.acctterminatecause}}</td>
      <td>{{f.servicetype}}</td>
      <td>{{f.framedprotocol}}</td>
      <td>{{f.framedipaddress}}</td>
      <td>{{f.acctstartdelay}}</td>
      <td>{{f.acctstopdelay}}</td>
      <td>{{f.xascendsessionsvrkey}}</td>
    </tr>
    {% endfor %}
    </table> 
  </div>

</body>
