{% extends "base.html" %}

{% block content %}

   <table class="tab">
<!--
    <form class="form" action="list" method="get">
    <tr>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="num"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="name"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="addr"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="mgst"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="rspr"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="intf"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="l3"></td>
         <td><input type="submit"  value="_"> </td> 
    </tr>
    </form>
-->
    <tr>    
          <td class="num">Номер</td>
          <td class="dat">ФИО</td>
          <td class="dat">Адрес</td>
          <td class="num">Магист.</td>
          <td class="num">Распред.</td>
          <!--<td class="num">Шкаф</td>
          <td class="num">Дата</td>
          <td class="num">Переход.</td>
          <td class="num">Заметки</td>
          <td class="num">Дополн.</td> -->
          <td class="chk">Index</td>
          <td class="chk">Intf</td>
          <td class="chk">L3addr</td>
          <td class="chk">Ряд.блок</td>
          <td class="chk">Плинт</td>
          <td class="chk">Пара</td>
    </tr>

    <form class="form" action="list" method="get">
    <tr>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="num"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="name"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="addr"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="mgst"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="rspr"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="indx"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="intf"></td>
        <td><input class="srch" onblur="value = ''" type="text" value="" name="l3"></td>
        <td> <-- Поиск </td>
         <td><input type="submit"  value="_"> </td> 
    </tr>
    </form>



{% for dat in jb_filt %}

    {% if dat.free == 1 %}
      <tr style="background-color: #65A5D1">
    {% elif dat.dgzd == '1' %}
      <tr style="background-color: #00C90D">
    {% elif dat.prhd == 'duplicate!' %}
      <tr style="background-color: red">
    {% else %}
      <tr>
    {% endif %}
      <td class="num"><a target="_blank" href="/edit/{{dat.num}}">{{dat.num}}</a></td>
      <td class="dat"><p class="lst">{{dat.name}}</p></td>
      <td class="dat"><p class="lst">{{dat.addr}}</p></td>
      <td class="num"><p class="lst">{{dat.mgst}}</p></td>
      <td class="num"><p class="lst">{{dat.rspr}}</p></td>
    <!--  <td class="num"><p class="lst">{{dat.shkf}}</p></td>
      <td class="num"><p class="lst">{{dat.data}}</p></td>
      <td class="num"><p class="lst">{{dat.prhd}}</p></td>
       --!><td class="num"><p class="lst">{{dat.note}}</p></td>
      <td class="num"><p class="lst">{{dat.rsrv}}</p></td> -->
      <td class="chk"><p class="lst">
      {% if dat.indx == None %}
        --
      {% else %}
        {{dat.indx}}
      {% endif %} 
      </p></td>
      <td class="chk"><p class="lst">{{dat.intf}}</p></td>
      <td class="chk"><p class="lst">{{dat.l3}}</p></td>
      <td class="chk"><p class="lst">{{dat.plac}}</p></td>
      <td class="chk"><p class="lst">{{dat.plnt}}</p></td>
      <td class="chk"><p class="lst">{{dat.para}}</p></td>


    {% endfor %}

    </tr>
    </table>
    <br>
    <script language='JavaScript'>
    checked = false;
      function checkedAll () {
        if (checked == false){checked = true}else{checked = false}
    for (var i = 0; i < document.getElementById('myform').elements.length; i++) {
      document.getElementById('myform').elements[i].checked = checked;
    } 
      }
    </script>

    <div style="width:805 px; height:100">
    <form id="myform" align="left" width="800px" action="list" method="post">
    <div style="float:left; width:400px;">
    <input class="srch2"  type="text" value="6" name="srch"> 
    </div>
    <div style="float:right; width:400px;">
    <p class="checkbox"><input type="checkbox" name="num">Номер</p>
    <p class="checkbox"><input type="checkbox" name="name">Имя</p>
    <p class="checkbox"><input type="checkbox" name="addr">Адрес<br></p>
    <p class="checkbox"><input type="checkbox" name="mgst">Магистраль</p>
    <p class="checkbox"><input type="checkbox" name="rspr">Шкаф<br></p>
    <p class="checkbox"><input type="checkbox" name="rspr">Распределение<br></p>
    <p class="checkbox"><input type="checkbox" name="indx">Индекс</p>
    <p class="checkbox"><input type="checkbox" name="note">Заметки<br></p>
    <p class="checkbox"><input type="checkbox" name="rsvd">Комментарии<br>
    
    <p class="checkbox"><input type='checkbox' onclick='checkedAll();'>Всё или ничего </p>

    <td><input type="submit"  value="Поискать"> </td> 

    <br>
    </div>

    </form
    </div>
    <br><br>
    <!-- Количество номеров: {{len}} || <a href="/free?num={{req}}">Свободные</a><br>
    Запрос обработан за {{tim }} с. --!>
  </div>

</body>

{% endblock %}
