div.main {
margin-left: auto; 
margin-right: auto; 
width: 1024px; 
nomin-height: 600px;
background: #a9cf54; 
padding: 30px 36px;
overflow: hidden;
border: 5px green double;
}

html {
background-image: url(/media/bg.png);
background-color: #588f27;
height: 100%;
}

body {
height: 100%;
}

p.lst {
font-family: Verdana, "DejaVu Sans", Tahoma;
color: #000000;
display: block;
font-size: 10px;
line-height: 1.2em;
margin: 0 0 0;
padding: 3 4;
text-align: left
}

td.num {
height: 16px;
width: 40px; 
padding: 7px;
border-width: 1px;
border-style: dashed;
border-color: green;
}

td.chk {
height: 16px;
width: 10px; 
padding: 7px;
border-width: 1px;
border-style: dashed;
border-color: green;
}

td.tim {
height: 16px;
width: 40px; 
padding: 7px;
border-width: 1px;
border-style: dashed;
border-color: green;
}

td.dat {
height: 16px;
width: 290px; 
padding: 4px; 
border-width: 1px;
border-style: dashed;
border-color: green;
text-align: center;
}


td.label {
height: 16px;
width: 150px;
padding: 4 20;
border-width: 1px;
border-style: dashed;
border-color: green;
text-align: right;
}

td.redlabel {
height: 16px;
width: 150px;
padding: 4 20;
border-width: 1px;
border-style: dashed;
border-color: green;
background-color: red;
text-align: right;
}


td.chngd {
height: 16px;
width: 150px;
padding: 4 20;
}

p.chngd {
font-family: Verdana, "DejaVu Sans", Tahoma;
color: green;
display: block;
font-size: 12px;
line-height: 1.2em;
margin: 0 0 0;
padding: 0 0;
text-align: left
}


table.tab {
	border-width: 1px;
	border-s}
    
    pacing: 0px;
	border-collapse: collapse;
}

table.sample th {
	border-width: 1px;
	padding: 3px;
	border-style: dashed;
	border-color: green;
	background-color: rgb(250, 240, 230);
	-moz-border-radius: ;
}

table.sample td {
	border-width: 1px;
	padding: 3px;
	border-style: dashed;
	border-color: green;
	background-color: rgb(250, 240, 230);
	-moz-border-radius: ;
}

input.stnd {
background: #ABF26D; 
border: 1px solid green; 
height: 25px; 
width: 500px; 
padding: 1 7;
font-family: Verdana, "DejaVu Sans", Tahoma;

}

input.smll {
background: #ABF26D;
border: 1px solid green;
height: 25px;
width: 80px;
padding: 1 7;
font-family: Verdana, "DejaVu Sans", Tahoma;
}


input.srch {
background: #ABF26D;
border: 1px solid green;
height: 25px;
width: 100%;
padding: 1 7;
font-family: Verdana, "DejaVu Sans", Tahoma;
}


input.srch2 {
background: #ABF26D;
border: 1px solid green;
height: 50px;
width: 300;
padding: 1 7;
font-family: Verdana, "DejaVu Sans", Tahoma;
font-size: 18;
}


p.checkbox {
#background: #ABF26D;
#border: 1px solid green;
#height: 25px;
#width: 80px;
#padding: 1 7;
font-size: 17px;
font-family: Verdana, "DejaVu Sans", Tahoma;
}

textarea.iupd {
width: 1000px;
height: 500px;
background-color: #ABF26D;
font-family: Verdana, "DejaVu Sans", Tahoma;
font: 15px;
color: green;
border: 3px double green;
margin: 4px 0 5px 8px;
padding: 10 20;
resize: vertical;
}

input.submit {
    -moz-box-shadow:inset 0px 1px 0px 0px #abf26d;
    -webkit-box-shadow:inset 0px 1px 0px 0px #abf26d;
    box-shadow:inset 0px 1px 0px 0px #abf26d;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #abf26d), color-stop(1, #a8cf54) );
    background:-moz-linear-gradient( center top, #abf26d 5%, #a8cf54 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#abf26d', endColorstr='#a8cf54');
    background-color:#abf26d;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #abf26d;
    display:inline-block;
    color:#073b12;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #abf26d;
    width: 120px;
}
input.submit:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a8cf54), color-stop(1, #abf26d) );
    background:-moz-linear-gradient( center top, #a8cf54 5%, #abf26d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8cf54', endColorstr='#abf26d');
    background-color:#a8cf54;
}
input.submit:active {
    position:relative;
    top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
